body {
    font-family: Arial, Helvetica, sans-serif; 
    background: rgb(222, 132, 67);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.container {
    background: chocolate;
    padding: 40px;
    border-radius: 0%;
    box-shadow: 0 4px 10px rgba(222, 178, 4, 0.5);
    width: 300px;
    height: 400px;
    text-align: center;
}
.logo{
    padding-left: 40px;
    margin-left: 20px;
    height: 66vh;
    width: 24%;
    align-items:flex-start;
}

.login-box h2 {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    border: darkorange;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 2px solid sienna;
    border-radius: 1px;
}

button {
    background: #070400;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
}

button:hover {
    background: #d97925;
    color: black;
}

.signup-link, .forgot-password {
    font-size: 15px;
    text-decoration: none;
    color: #100d09;  
    display: block;
    margin-top: 18px;
}

.signup-link a, .forgot-password a {
    color: #201b17;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover, .forgot-password a:hover {
    text-decoration: underline;
    color: #f08a24; /* Darker orange on hover */
}
.details-box h2 {
    width: 90%;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}
.details-box {
    display: none;
    background: chocolate;
    padding: 10px;
    border-radius: 5px;
    height: 64vh;
    width: 300px;
    text-align: center;
}